<div class="container show-order">
  <div class="row">
    <div class="col-md-12">
      <h1>Order History</h1>
      <br>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Order Number</th>
            <th scope="col">Ship To</th>
            <th scope="col">Total Amount</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
          <tr>
            <td><%= order.id %></td>
            <td><%= order.ship_to %></td>
            <td><%= order.order_total %></td>
            <td><%= order.status %></td>
            <td><%= link_to "View Order", user_order_path(current_user, order) %></td>
            <td>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to 'Products List', admin_products_path, class: "btn btn-info" %>
    </div>
  </div>
</div>