<div class="container show-order">
  <div class="row">
    <div class="col-md-12">
      <h1>Order Details</h1>
      <h4>Thank you for shopping with us!</h4>
      <br>
      <table class="table table-hover">
        <thead>
          <h5>Order ID: <%= @order.id %></h5>
          <h5>Order Status: <%= @order.status %></h5>
          <h5>Total Cost: $<%= @order.order_total %></h5>
          <tr>
            <th scope="col">Products</th>
            <th scope="col">Description</th>
            <th scope="col">Quantity</th>
            <th scope="col">Subtotal</th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product|%>
          <tr>
            <td><%= product.name %></td>
            <td><%= product.description %></td>
            <td><%= @order.quantity %></td>
            <td>$<%= product.price * @order.quantity %></td>
            <td></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <p><%= link_to 'Back', user_orders_path(current_user), class: "btn btn-outline-dark" %></p>
</div>