<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>My Shopping Cart</h1>
      <br>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Name of Items</th>
            <th scope="col">Quantity</th>
            <th scope="col">Sub-total</th>
            <th scope="col">GST</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><% @products.each do |product| %></td>
              <h5 class="card-title"><%= product.name %></h5>
              <p class="card-text"><%= product.description %></p>
              <p class="card-text"><%= product.price %></p>

              <%= link_to 'View Product', product_path(product) , {:class=>"btn btn-secondary"} %>

            </div>
          </div>
        </div>
        <% end %>





            <td>
            <% if current_admin %>
              <%= link_to 'Edit', edit_user_order_path(order) %>
              <%= link_to 'Delete', user_order_path(order), method: :delete, data: {confirm:"Are you sure?"} %>
            <% end %>
            </td>
          </tr>
        </tbody>
      </table>
      
    </div>
  </div>
</div>