<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Products</h1>
      <br>
      <div>
        <%= link_to 'New Product', new_admin_creation_path, class: "btn btn-info" %>
      </div>
      <br>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Description</th>
            <th scope="col">Picture</th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
          <tr>
            <td><%= product.name %></td>
            <td><%= product.price %></td>
            <td><%= product.description %></td>
            <td><%= filestack_image product.filestack_url, transform: filestack_transform.resize(width:100, height:100) %></td>
            <td>
              <%= link_to 'Show', admin_category_product_path(product.categories, product) %>
              <%= link_to 'Edit', edit_admin_category_product_path(product.categories, product) %>
              <%= link_to 'Delete', admin_category_product_path(product.categories, product), method: :delete, data: {confirm:"Are you sure?"} %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>