<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag product.product_image.url, size: '100x100' %>
</p>

<p>
  <strong>Categories</strong>
  <%= @product.category_ids %>
</p>

<%= link_to 'Back', categories_path %>