<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= filestack_image @product.filestack_url, transform: filestack_transform.resize(width:100, height:100) %>
</p>

<p>
  <strong>Categories</strong>
  <%= @product.category_ids %>
</p>

<%= link_to 'Back', categories_path %>