<div id="new-arrivals">
  <div class="container arrival">
    <h5>New Arrivals</h5>
    <div class="row">
      <% @categoriesproduct.each do |pair| %>
        <% if pair.category.id == 1 %>
        <div class="col-4 mt-4">
          <div class="card latest-arrivals" style="width: 18rem;">
            <%= image_tag pair.product.filestack_url, class: "img-fluid mx-auto" %>
            <div class="card-body">
              <h5 class="card-title"><%= pair.product.name %></h5>
              <p class="card-text"><%= pair.product.description %></p>
              <p class="card-text"><%= pair.product.price %></p>
              <%= link_to 'View Product', pair.product.name , {:class=>"btn btn-secondary"} %>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div id="best-sellers">
  <div class="container bestsellers">
    <h5>Bestsellers</h5>
    <div class="row">
      <% @categoriesproduct.each do |pair| %>
        <% if pair.category.id == 2 %>
        <div class="col-4 mt-4">
          <div class="card latest-arrivals" style="width: 18rem;">
            <%= image_tag pair.product.filestack_url, class: "img-fluid mx-auto" %>
            <div class="card-body">
              <h5 class="card-title"><%= pair.product.name %></h5>
              <p class="card-text"><%= pair.product.description %></p>
              <p class="card-text"><%= pair.product.price %></p>
              <%= link_to 'View Product', pair.product.name , {:class=>"btn btn-secondary"} %>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>