<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= product.description %></td>
        <td><%= filestack_image product.filestack_url, transform: filestack_transform.resize(width:100, height:100) %></td>
        <td><%= link_to 'Show', category_product_path(@category, product) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>Number of products</p>
<%= @count %>
