<div class="container-fluid d-flex justify-content-center show-products">
  <div class="row">
    <div class="col-8">
      <div class="card">
        <%= filestack_image @product.filestack_url, transform: filestack_transform.resize(width:100, height:100) %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <p><strong>Name: </strong><%= @product.name %></p>
      <p><strong>Price: </strong><%= @product.price %></p>
      <p><strong>Description: </strong><%= @product.description %></p>
      <p><%= link_to 'Add To Cart', root_path, {:class=>"btn btn-outline-dark"} %></p>
      <% if  0 %>
      <p><%= link_to 'Remove From Cart', root_path, {:class=>"btn btn-outline-dark"} %></p>
      <% else %>
        <td></td>
      <% end %>
    </div>
  </div>
</div>