<div class="container-fluid d-flex justify-content-center show-products">
  <div class="row">
    <div class="col-8">
      <div class="card">
        <%= image_tag @product.product_image.url, size: '250x250' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <p><strong>Name: </strong><%= @product.name %></p>
      <p><strong>Price: </strong><%= @product.price %></p>
      <p><strong>Description: </strong><%= @product.description %></p>
      <p><%= link_to 'Add To Cart', add_to_cart_path(@product), method: :post, class: "btn btn-outline-dark" %></p>
    </div>
  </div>
</div>

