<div id="jewelry-types">
  <div class="container types">
    <h5><%= @category.name.titleize %></h5>
  <div class="row">
    <div class="col-5">
      <%= image_tag @product.filestack_url, class: "img-fluid mx-auto" %>
    </div>
    <div class="col-5">
      <h5 class="card-title"><%= @product.name %></h5>
      <p class="card-text"><%= @product.description %></p>
      <p class="card-text"><%= @product.price %></p>

      <br />
      <br />
      <%= @count %>
      <br />
      <%= link_to 'Add To Cart', add_to_cart_product_path(@product), method: :put %></td>
      <% if ($redis.hget current_user.id, @product.id).to_i > 0 %>
        <td><%= link_to 'Remove From Cart', remove_from_cart_product_path(@product), method: :put %></td>
      <% else %>
        <td></td>
      <% end %>
    </div>
  </div>
    <div class="row">
      <%= link_to 'Back', categories_path %>
    </div>
  </div>
</div>

