<% if @product.errors.any? %>
  <div class="container ">
    <div class="row d-flex justify-content-center">
      <div class="alert alert-info col-md-6" role="alert">
        <h4>We have some errors here !</h4>
          <ul>
            <% @product.errors.full_messages.each do |msg| %>
              <li class="mb-0"><%= msg %></li>
            <% end %>
          </ul>
        <hr>
      </div>
    </div>
  </div>
<% end %>

<div class="container ">
  <div class="row d-flex justify-content-center">
    <h4>New Product</h4>
    <%= form_for @product, url: admin_creations_path do |f| %>
      <div class="form-group">
        <%= f.label :name, "Name" %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :price, "Price" %>
        <%= f.text_field :price, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :description, "Description" %>
        <%= f.text_area :description, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :product_image, "Picture" %>
        <%= f.file_field :product_image, 'Upload Product Picture!' %> 
      </div>

      <div class="form-group">
        <%= f.label :category_ids, "Category" %>
        <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %>
      </div>

      <div class="form-group">
        <%= f.submit class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div