<!DOCTYPE html>
<html>
  <head>
    <title>ShoppingCartAc</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  
    <%= filestack_js_include_tag %>
    <%= filestack_js_init_tag %> 
  </body>
</html>
